.main {
    background: #95a0ff;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    width: 900px;
}

.game {
    margin-top: 8px;
    background: #FFF495;
    border-radius: 8px;
    padding: 16px;
}
